<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.heigvd.sym.template">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/SymTheme"> <!-- cf serie d'exercices sur SSL/TLS -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".asynchrone"
            android:label="@string/title_activity_asynchrone" />
        <activity
            android:name=".differe"
            android:label="@string/title_activity_differe" />
        <activity
            android:name=".graphQl"
            android:label="@string/title_activity_graph_ql" />
        <activity
            android:name=".serialisation"
            android:label="@string/title_activity_serialisation" />
        <activity
            android:name=".compresse"
            android:label="@string/title_activity_compresse"></activity>
    </application>

</manifest>